.home {
  @include bgImage;

  padding-top: $header-height;
  width: 100%;
  min-height: 500px;
  color: $white;
  overflow: hidden;
  background-color: $bg-dark-purple;
  background-image: url("../img/tint-img.png"), url("../img/bg-home-img.jpg");
  background-size: cover;
  background-position: top;
}

.home__text {
  @include indent;

  &--small {
    @include font-style(32px, 38px, 300);

    margin-top: 10.5%;
    margin-bottom: 30px;
  }

  &--big {
    @include font-style(66px, 79px, 700);

    margin-bottom: 65px;
    text-transform: uppercase;
  }
}

.home__button {
  @include font-style(23px, 28px, 700);
  @include link;

  display: inline-block;
  border: 3px solid $white;
  padding: 15px 64px;
  letter-spacing: 0;

  &:hover,
  &:focus {
    box-shadow: 0 0 8px 6px rgba($white, 0.5)
  }

  &:active {
    opacity: 0.5;
  }
}
