.main-header {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.main-header__wrapper {
  display: flex;
  min-height: $header-height;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.main-header__logo {
  @include link;
}

@include respond-to(medium) {
  .main-header__wrapper {
    align-items: center;
  }
}
