@include font-face("BrandonGrotesque", "../fonts/brandongrotesque", 400, normal);
@include font-face("BrandonGrotesque", "../fonts/brandongrotesque-medium", 500, normal);
@include font-face("BrandonGrotesque", "../fonts/brandongrotesque-bold", 700, normal);
@include font-face("BrandonGrotesque", "../fonts/brandongrotesque-light", 300, normal);

body {
  font-family: "BrandonGrotesque", "Arial", sans-serif;
  color: $gray-dark;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  overflow-x: hidden;
  letter-spacing: -0.025em;

  @include font-style(18px, 20px, 400);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
