$bg-gray: #fafafa;
$bg-purple: #7690c5;
$bg-dark-purple: #241c38;
$white: #ffffff;
$gray: #777777;
$gray-dark: #222222;
$center: 0 auto;
$header-height: 120px;
$breakpoints: (
  "small": 320px,
  "medium": 660px,
  "large": 960px
);

$container: (
 "xs": 93%,
 "ml": 80%,
 "xl": 67.14%
);
